:root {
    --color-main-back: #423e44;
    --color-main-text: #f6f5f2;
    --color-secondary: #997565;
    --color-tertiary1: #baa37d;
    --color-tertiary2: #869ba8;

    --sans-style: verdana, sans-serif;
    --serif-style: georgia, serif;

    --banner-height: 20%;
}

.img_select {
    width: 60%;
    padding-left: 20%;
    padding-top: 5%;
}

.image {
    height: auto;
    max-width: 100%;
    border-radius: 5%;
    border: 2px solid #000;
    box-shadow: 7px 7px 3px var(--color-secondary);
}

.row {
    padding-top: 10pt;
}

.price {
    display: inline-block;
}

.stars {
    float: right;
    margin-left: auto;
    margin-right: 0;
}

.checked {
    color: orange;
}

.description {
    padding-top: 20pt;
}

button {
    margin-top: 10pt;
    border-radius: 15%;
    border: 2px solid var(--color-tertiary1);
    background-color: var(--color-main-back);
    color: var(--color-main-text);
    padding: 5pt 13pt 5pt 13pt;
    transition-duration: .5s;
    font-size: 13pt;
    font-weight: 700;
}
button:hover {
    background-color: var(--color-tertiary1);
    color: var(--color-main-back);
}

/*
* The following provides functionality for dynamically adjusting layout for mobile devices smaller tpthan tablets.
*/
/* Support for landscape tablets and devices with larger screens */
@media screen and (min-width: 901px) {
}
/* support for devices smaller than landscape tablets */
@media screen and (max-width: 900px) {
}

