:root {
    --color-main-back: #423e44;
    --color-main-text: #f6f5f2;
    --color-secondary: #997565;
    --color-tertiary1: #baa37d;
    --color-tertiary2: #869ba8;

    --sans-style: verdana, sans-serif;
    --serif-style: georgia, serif;

    --banner-height: 20%;
}

.form, .cart_items{
    margin-top: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    border: var(--color-secondary);
    border-radius: 20px;
    background-color: var(--color-main-text);
    color: var(--color-secondary);
    font-family: cursive;
}
.cart_items {
    height: 120pt;
    padding: 5%;
    width: 30%;
    margin-right: 5%;
    overflow-y: auto;
    float: left;
}
.form {
    height: fit-content;
    float: right;
    width: 50%;
    margin-right: 5%;
}

label, input{
    display: block;
    padding: 3pt;
    width: 70%;
    margin-left: 15%;
}

ul.bulletless {    
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li, h4 {
    white-space: break-spaces;
}

button.place {
    margin-top: 25pt;
    margin-left: 17%;
    width: 70%;
    padding: 5pt;
    border-radius: 10px;
    border-color: var(--color-secondary);
    color: var(--color-secondary);
    background-color: var(--color-main-text);
    font-size: 15pt;
}
button.place:hover {
    border-color: var(--color-main-text);
    color: var(--color-main-text);
    background-color: var(--color-main-back);
    font-size: 15pt;
}
button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10pt;
    transition: all 0.5s ease;
    color: var(--color-secondary);
}
button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all 0.5s;
}
button:hover span {
    padding-right: 17pt;
}
button:hover span:after {
    opacity: 1;
    right: 0;
    color: var(--ccolor-secondary);
}

/*
* The following provides functionality for dynamically adjusting layout for mobile devices smaller tpthan tablets.
*/
/* Support for landscape tablets and devices with larger screens */
@media screen and (min-width: 901px) {

    .form {
        width: 50%;
    }
    .column1 {
        display: inline-block;
        margin-left: 7%;
        margin-right: 6%;
        width: 40%;
    }
    .column2 {
        float: right;
        margin-right: 7%;
        width: 40%;
    }
}
/* support for devices smaller than landscape tablets */
@media screen and (max-width: 900px) {

    .column1 {
        margin-left: 5%;
        display: inline-block;
        width: 90%;
    }
    .column2 {
        margin-left: 5%;
        display: inline-block;
        width: 90%;
    }
}

