@charset "utf-8";

* {box-sizing:border-box}

.slideshow-container{
	max-width: 1000px;
	position: relative;
	margin: auto;
}

/* Set Pictures to be defaulted to be hidden*/
.slideShow1{
	display: none;
}
.slideShow2{
	display: none;
}
.slideShow3{
	display: none;
}

/* Next and Prev Buttons */
.prev, .next{
	cursor: pointer;
	position: absolute;
	padding: 16px;
	color: white;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Move next button to the right */
.next{
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* Hover color change for prev and next buttons */
.prev:hover, .next:hover{
	background-color: black;
}

/* Captions */
.text{
	color: #f6f5f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}


