:root {
    --color-main-back: #423e44;
    --color-main-text: #f6f5f2;
    --color-secondary: #997565;
    --color-tertiary1: #baa37d;
    --color-tertiary2: #869ba8;

    --sans-style: verdana, sans-serif;
    --serif-style: georgia, serif;

    --banner-height: 20%;
}

* {
    margin: 0;
    padding: 0;
}
  
html, body {
    box-sizing: border-box;
    height: 100%; width: 100%;
    position: absolute;
    background-color: var(--color-main-back);
    color: var(--color-main-text);
}

.flex_parent {
    display: flex; 
    height: 75%; width: 100%;
    align-items: flex-end;
    padding: none;
    flex-wrap: wrap;
}

.banner {
    height: var(--banner-height);
    min-height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    font-size: 48pt;
    color: var(--color-tertiary1);
}

.footer {
    padding-top: 5pt;
    height: 5%;
    min-height: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content {
    text-align: center;
}

.sidebar {
    background-color: var(--main-color-back);
}

/*
* The following provides animated menu bars
*/
.link {
    text-align: right;
    width: 100%;
    padding-top: 10pt;
    padding-bottom: 10pt;
    font-size: 20pt;
    color: var(--color-tertiary1);
    background-color: var(--color-main-back);
    transition: all 0.5s;
    transition: color 0s;
    border: none;
    cursor: pointer;
}
.link:hover {
    background-color: var(--color-tertiary1);
    color: var(--color-main-back);
    padding-right: 13pt;
}
button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10pt;
    transition: all 0.5s ease;
    color: var(--color-tertiary1);
}
button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all 0.5s;
}
button:hover span {
    padding-right: 17pt;
}
button:hover span:after {
    opacity: 1;
    right: 0;
    color: var(--color-main-back);
}
a.menu { 
    text-decoration: none;
}

/*
* The following provides animated menu bars
*/

.separater {
    width: 60%;
    margin-left: 20%;
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray;
}

.para {
    font: var(--serif-style);
    width: 50%;
    padding-left: 25%;
    font-size: 22pt;
}

h1 {
    font-size: 48pt;
    text-align: center;
}

/*
* The following provides functionality for dynamically adjusting layout for mobile devices smaller tpthan tablets.
*/
/* Support for landscape tablets and devices with larger screens */
@media screen and (min-width: 901px) {
    .sidebar {
        display: inline-block; 
        height: 100%; width: 20%; 
        background-color: var(--side-color-back);
    }

    .main {
        display: inline-block;
        width: 80%; 
        height: 100%; 
        overflow-y: auto;
        background-color: var(--main-color-back);
        flex: 1; 
        padding-left: 20pt;
        padding-right: 20pt;
    }

    .spacer {
        height: 5%;
    }
    
    .minispacer {
        height: 2%;
    }
}
/* support for devices smaller than landscape tablets */
@media screen and (max-width: 900px) {
    .link {
        text-align: center;
        padding-right: 0;
    }

    .sidebar {
        display: inline-block; 
        height: min-content; width: 100%;
        padding: none;
        background-color: var(--side-color-back);
    }

    .main {
        display: inline-block;
        width: 100%; 
        height: fit-content; 
        overflow-y: auto;
        background-color: var(--main-color-back);
        flex: 1; 
        padding-left: 20pt;
        padding-right: 20pt;
    }

    .spacer {
        height: 20pt;
    }
    
    .minispacer {
        height: 10pt;
    }
}

